<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunwukongtishi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{0,0},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{640,0},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{1280,0},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{0,232},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{640,232},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{1280,232},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{0,464},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{640,464},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{1280,464},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{0,696},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{640,696},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{1280,696},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{0,928},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{640,928},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{1280,928},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{0,1160},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{640,1160},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{1280,1160},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{0,1392},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{640,1392},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{1280,1392},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{0,1624},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{640,1624},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{1280,1624},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sunwukongtishi_1.png</string>
            <key>size</key>
            <string>{1920,1856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10206e92b8215b5145c70c7495f79c1e:e3309ab08c66d74da4dd9ca6904adc02:61fce4c0f85514bdaaa7a5144909be8d$</string>
            <key>textureFileName</key>
            <string>sunwukongtishi_1.png</string>
        </dict>
    </dict>
</plist>
